h1{
    font-size: 1.4em;
    text-align: center;
    font-family: 'Rokkitt', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

#happiness_score {
    margin-top: 50px;
    font-size: 2em;
}

h3{
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    width:80%;
    padding:20px;
    margin:auto;
}
p{
    display:block;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 400;
    width:80%;
    padding:20px;
    margin:auto;
}

#section0 {
    background-image: url("imgs/holi_festival.jpg");
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}

li {
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: 400;
    width:60%;
    margin:auto;
}